body {
  background-color: lavender;
}

.App {
  text-align: center;
}

.GifsContainer-div {
  margin: 50px 30px;
}

.SearchBar-header {
  font-family: "Baloo Bhaina 2", cursive;
  background-color: pink;
  color: white;
  padding: 15px;
}

.SearchBar-header h2 {
  font-size: 30px;
}

.SearchBar-div input {
  margin-top: 20px;
  text-align: center;
  border-radius: 25px;
}

.GifContainer-images {
  border-radius: 25px;
  height: 50%;
  border: 3px solid white;
}
